@import "style.css";
@import "content.css";

main {
    padding: 0 3%;
}
.game_container {
    display: flex;
    margin: auto;

}
.game {
    display: flex;
    flex-direction: column;
}
.game div {
    text-align: center;
    margin: auto;
}
.game button {
    margin: auto;
}

.game article {
    width: 100%;
    padding: 0 5%;
}

.game .card {
    margin: 5px;
    padding: 10px;
    border: 1px orange solid;
    border-radius: 10px;
    width: 120px;
    height: 220px;
    flex-direction: column;
    background: black;

    word-break: break-all;
}

.game .properties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game .table {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.game .table table{
    width: 100%;
}

.card {
    display: flex;

}

.game .card_icon {
    width: 90px;
    height: 90px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.game .card_icon img {
    color: orange;
    width: inherit;
    margin: auto;
}

.radio_vote {
    appearance: none;

    border-radius: 25%;
    border: 0.15em solid whitesmoke;

    margin: 0;
    width: 1.55em;
    height: 1.55em;

    display: inline-grid;
    place-content: center;
}
.radio_vote::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    border-radius: 25%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em orange;
}

.radio_vote:checked::before {
    transform: scale(1);
}

.host_panel {
    width: 20%;
    overflow: auto;
    padding: 40px 0;
}

.host_panel button {
    width: 90%;
    height: 50px;
}