@import "style.css";
@import "content.css";


.home main {
    text-align: center;
}

.home body {
    width: 100%;
}

.home input {
    border-radius: 7px;
    border: solid;
    color: whitesmoke;

    font-size: 18px;
}