@import "style.css";

.room {
    display: block;
    text-align: center;
}

.room * {
    font-size: 1.5em;
}

.room button {
    font-size: 20px;
    height: 48px;
    width: 256px;
}

.player_elem {
    display: inline-flex;
}

