@import "classic-vars.css";

* {
    color: var(--color-text);
    font-size: var(--main-font-size);
}
nav {
    background: var(--color-background);
    overflow: hidden;
    border-bottom: var(--color-accent) 1px solid;
}
nav a {
    color: var(--color-accent);
    float: left;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.5em;
}
nav a:hover {
    color: var(--color-text);
}
nav img {
    background-color: var(--color-background);
    border-radius: 50%;
    padding: 3px;
    width: 2.5em;
    right: 0;
    position: absolute;
    margin: auto 10px auto auto;
}
body {
    font-size: 16px;
}
main {
    padding: 0 10%;
    background-image: none;
}

@media (max-width: 500px) {
    main {
        margin: 0;
        padding: 0;
    }
}

p {
    text-indent: 5vw;
}
span {
    color: var(--color-accent);
}
strong {
    color: var(--color-accent);
}
h1 {
    margin: 0;
    padding: 15px;
    color: var(--color-accent);
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    color: var(--color-accent);
    text-indent: 15vw;
}
h3 {
    text-indent: 7vw;
    font-size: 1em;
    color: var(--color-secondary);
}
h4 {
    text-align: center;

    margin-top: 20px;
    font-size: 1em;
    margin-bottom: 0;
}
li {
    counter-increment: li
}
ul {
     list-style: none
 }
ul li::before {
    content: "•";
    color: var(--color-accent);
    margin-left: -1em;
    display: inline-block;
    width: 1em;
}
ol {
    list-style: none;
    counter-reset: li;
}
ol li::before {
    content: counter(li);
    color: var(--color-accent);
    margin-left: -1em;
    display: inline-block;
    width: 1em;
}

table {
    margin: 8px;
    border: var(--color-secondary) solid 2px;
    text-align: center;
    border-collapse: collapse;
}
td {
    border: var(--color-secondary) dotted 1px;
}

input, button, body{
    background: var(--color-background);
}

input, button {
    border: 2px var(--color-text) solid;
    height: 2em;
    width: 14em;
}

button {
    color: var(--color-accent);
    border-radius: 7px;
    margin: 6px;
    height: 2em;
    width: 7em;
}
button:hover {
    color: var(--color-text);
}